{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <div class="container">
    <div class="alert-card">
      <div class="message">
        <span class="bold">Успішне виконання дії</span><br>
        Товар був успішно видалений!
      </div>
      <button class="button">Повернутися назад</button>
    </div>
  </div>

</main>





{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}