@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/button/style.scss' as button;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
.main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}

.info_row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Розподіл стовпців у співвідношенні 1:1 */
    grid-column-gap: 20px; /* Відступ між стовпцями */
    padding: 5px;
 
}
.info_row > span {padding: 10px;}