{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <div class="product-grid">
    <div class="product-card">
      <h2 class="product-title">Назва товару</h2>
      <p class="product-description">Опис товару</p>
      <p class="product-id">ID товару</p>
      <p class="product-price">200$</p>
      <a href="/product-edit?id={{id}}" class="edit-link">Редагувати</a>
    </div>

    <div class="product-card">
      <h2 class="product-title">Назва товару</h2>
      <p class="product-description">Опис товару</p>
      <p class="product-id">ID товару</p>
      <p class="product-price">200$</p>
      <a href="/product-edit?id={{id}}" class="edit-link">Редагувати</a>
    </div>

    <div class="product-card">
      <h2 class="product-title">Назва товару</h2>
      <p class="product-description">Опис товару</p>
      <p class="product-id">ID товару</p>
      <p class="product-price">200$</p>
      <a href="/product-edit?id={{id}}" class="edit-link">Редагувати</a>
    </div>

    <div class="product-card">
      <h2 class="product-title">Назва товару</h2>
      <p class="product-description">Опис товару</p>
      <p class="product-id">ID товару</p>
      <p class="product-price">200$</p>
      <a href="/product-edit?id={{id}}" class="edit-link">Редагувати</a>
    </div>
  </div>

</main>





{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}