@use '../../lib/service.scss' as s;

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alert-card {
    width: 50%;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #85bf66;

    .message {
        margin-bottom: 20px;
        .bold {
            font-weight: bold;
        }
    }

    .button {
        background-color: blue;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}